<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Mikhail.</h1>
      <h3 class="section-subheading">I'm software engineer with primarily back-end experience who is passionate about creating products that make life a little easier.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I'm currently a back-end software engineer building large, highly scalable enterprise applications managing large amounts of data</strong> I have experience developing and designing a wide range of solutions including web and enterprise applications and ETL pipelines. I strive to create software that not only functions efficiently but also improves people's lives. </p>
          <p class="about-text">I love learning and applying new technologies to find better ways to solve problems with clean, efficient, and scalable code. I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something helpful with people that bring out the best in me.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen,</strong> I'm probably traveling, looking for something new to eat/drink or learning a new song on my guitar.</p>
        </div>
      </div>
    </div>
  </div>
</section>
